    {% extends "layout.html" %}

    {% block content %}
    <div>
            <h2 align=center>Login Form</h2>
        </div>
    <div class="d-flex justify-content-center align-items-center">
        
        <div>
            <form  method="post">
        {% csrf_token %}
        {{form.as_p}}
        <p>Don't Have an Account ? Please <a href="{% url 'register' %}">Register</a></p>
        <button class="btn btn-primary">Login</button>    
    </form>
        </div>
    

    </div>
    
    {% endblock %}